<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.prj.arachne.infrastructure.mapper">

	<insert id="insert">
		INSERT INTO board
		(contents,
		title,
		board_type,
		writer_id)
		VALUES
		(#{contents},
		#{title},
		#{board_type},
		#{writer_id}
		)

	</insert>

<insert id="insertReply">

</insert>

<select id=""></select>









</mapper>